:root{
	--mainColor:#2e3c4b;
	--secondaryColor:#081d2f;

	--borderColor:#ffffff;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgb(25, 39, 52, 0.8);
	--previewShadow:#111921;


	--buttonColor:#17a2b8;


}