:root{
	--mainColor:#353842;
	--secondaryColor:#050505;

	--borderColor:#cccccc;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgba(0, 0, 0, 0.8);
	--previewShadow:#575757;


	--buttonColor:#313131;


}
